# RewriteEngine On

# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d

# RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]


# RewriteEngine On
# RewriteBase /

# # Redireciona todas as requisições para index.php
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Redireciona tudo para index.php, exceto arquivos e pastas existentes
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>
